@charset "UTF-8";
/* 
Author: Hannah Lever
Desc: Portfolio layout
*/

/* Body styles */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    margin: 25px 25px;
    min-height: 95vh;
}

/* Header styles */
#site-title {
    display: block;
    margin: auto;
    text-align: center;
}

nav > ul {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Misc styles */
main > h1:first-child {
    margin-top: 0.5em;
}

.subhead {
    margin-top: -1em;
}

main li {
    margin: 5px 0px;
}

/* Medium wide layout */
@media screen and (min-width: 600px) {
    body {
        margin: 15px 5vw;
    }
    
    header {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    #site-title {
        margin: auto 0px;
        text-align: left;
    }

    nav > ul {
        align-items: end;
    }

    header > hr {
        grid-row: 2;
        grid-column: span 2;
        width: 100%;
    }

    #resume {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 2fr 1fr;
        column-gap: 2em;
    }

    #resume > h1:first-child {
        grid-column: span 2;
    } 
}

/* Full wide layout */
@media screen and (min-width: 890px) {
    body {
        max-width: 800px;
        margin: 15px auto;
    }
}