@charset "UTF-8";
/*
Author: Hannah Lever
Desc: Portfolio styling
*/

/* Body styles */
body {
    font-family: Georgia, 'Times New Roman', serif;
    color: #00171F;
    line-height: 1.5em;
    
    background-color: #fff9e8;
}

/* Header Styles */
#site-title {
    font-size: 2em;
    color: black;
}

header a {
    text-decoration: none;
}

nav > ul {
    list-style: none;
    font-weight: bold;
}

/* Misc styles */
a {
    color: #18685b;
}

mark {
    background-color: transparent;
    color: #18685b;
    font-weight: bold;
}
